# --- Byte-compiled / optimized / DLL files ---
__pycache__/
*.py[cod]
*$py.class

# --- Django files ---
db.sqlite3
db.sqlite3-journal
local_settings.py
staticfiles/
media/

# --- Environment variables & Secrets ---
.env
.venv
myenv/
env/
venv/
ENV/
env.bak/
venv.bak/

# --- Python Tools ---
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache/
.pytest_cache/

# --- OS & IDE Files ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.bak

# --- Packaging & Distribution ---
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
/lib/
/lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

node_modules/
frontend/node_modules/
logs/